$indigo: #5a84ff;
$white: #ffffff;
$dark: #080e10;
$green: #009adc;
$gradient: linear-gradient(203deg, rgb(90, 197, 255) 0%, rgb(42, 67, 167) 100%);
$gradient2: linear-gradient(250deg, rgb(67, 95, 255) 24%, rgb(72, 228, 255) 100%);

.green {
  color: $green;
}
.indigo {
  color: $indigo;
}
